@font-face {
  font-family: stranger;
  src: url(/font/Benguiat\ Bold.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.template {
  aspect-ratio: 2/1;
  width: 85vw;
  background-color: #08003069;
  border-radius: 3%;
  flex-direction: column-reverse;
  gap: 2vh;
  box-shadow: 0 0 17px #ff1515;
  border: 1px solid rgb(0, 0, 0);
}

.blackBoard {
  background-color: beige;
  aspect-ratio: 2/1;
  width: 50vw;
  border-radius: 1em;
}

.gridContainer {
  aspect-ratio: 2/1;
  width: 50vw;
  background: rgb(66, 66, 66);
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 17px #ff1515;
  border: 1px solid rgb(0, 0, 0);
}
.gridDiv {
  aspect-ratio: 2/1;
  border: 1px solid rgba(255, 255, 255, 0.692);
  background-color: rgba(255, 255, 255, 0.788);
}
img {
  height: 20vh;
  order: 1;
}
.rangeTxt {
  font-family: stranger;
  width: 6em;
  color: red;
  text-align: center;
}
.rangeInput {
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rangeField {
  filter: drop-shadow(0 0 0.2rem #ffffff);
}

.buttons {
  width: 100%;
  height: 10%;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 1.5em 0;
}

.buttons > button {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  border: 1px solid white;
  box-shadow: 0 0 10px #fffcfc;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  height: 3.1em;
  width: 3.1em;
}
.rubber {
  background-color: white;
}
.colors {
  background-color: #000;
}

.rainbow {
  position: relative;
  background-color: purple;
  border-radius: 50%;
  background: conic-gradient(#3dffc9, #f7c723, #eb0ea5, #3dffc9);
  animation: spin 1.4s linear infinite;
  box-shadow: 0px 0px 150px -75px black;
  border: 1px solid white;
}

.rainbow::before {
  content: "";
  background-color: #080030;
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 110px -70px black;
  border: 1px solid white;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

img {
  filter: drop-shadow(0.1rem 0 0.9rem #ff1515)
    drop-shadow(0.1rem 0 0.9em #ff1515);
}
