* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  /* outline: 2px solid hsl(0, 100%, 50%); */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainContainer {
  height: 100vh;
  width: 100vw;
  background-color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.template {
  aspect-ratio: 2/1;
  width: 80vw;
  background-color: rgba(129, 0, 0, 0.774);
  border-radius: 3%;
  flex-direction:column-reverse;
      border: 5px groove goldenrod;

  gap: 2vh
}

.blackBoard {
  background-color: beige;
  aspect-ratio: 2/1;
  width: 50vw;
    border-radius: 1em;

}

.gridContainer {
  aspect-ratio: 2/1;
  width: 50vw;
  background: rgb(66, 66, 66);
  display: flex;
  flex-wrap: wrap;
    border: 8px groove gold;

}
.gridDiv {
  aspect-ratio: 2/1;
  border: 1px solid rgba(255, 255, 255, 0.692);
  background-color: rgba(255, 255, 255, 0.788);
  
}

button {
  background-color: transparent;
  color: white;
  font-size: 20px;
}


.rangeDiv{
  width: 100%;
  height: 10%;
  justify-content: start;

}

.rangeField{
  margin: 2em;
}

img{
  width: 60vw;
  height: 10vh;
  order: 1;
}